@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1>Produção Diária de Pão</h1>    
</div>

<section class="section-btns">
    <a class="btns-pages" asp-controller="Producao" asp-action="ProducaoDiariaDePao_PaoDaManha">Pão da Manhã</a>
    <a class="btns-pages" asp-controller="Producao" asp-action="ProducaoDiariaDePao_PaoDaNoite">Pão da Noite</a>
    <a class="btns-pages" asp-controller="Producao" asp-action="ProducaoDiariaDePao_PaoDoDiaSeguinte">Pão do Dia Seguinte</a>
    <a class="btns-pages" asp-controller="Producao" asp-action="ProducaoDiariaDePao_ReceitaDiaria">Receita Diária</a>
</section>
