html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.layout-menu-nav {
    background: #E1CC61;
    display: flex;
    padding: 20px 0px 21px 0px;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.menu-nav-elementos-lista {
    display: inline-flex;
    flex-direction: row;
    gap: 50px;
}