html {
  font-size: 14px;
}

html a {
    color: #5C5327;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFFEF1;
    font-family: Quicksand;
    color: #5C5327;
}

main{
    padding: 10px
}


h1 {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

h2 {
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

table {
    border-collapse: separate !important; 
}

.table {
    border-radius: 15px;
    border-style: none;
    display: block;
    justify-items: center;
    border-spacing: 30px 5px;
}

.table th {
    font-size: 20px;
    color: #5C5327;
    border-style: none;
    gap:30px;
}

.table tb {
    font-size: 20px;
    color: #5C5327;
    border-style: none;
}

.table td {
    color: #5C5327;
    font-weight: 600;
    background-color: #D9D9D9;
    border-radius: 100px;
    text-align: center;
}


.hr {
    background-color: #5C5327 !important;
    width: 846px !important;
    height: 4px !important;
    border: 2px solid;
    opacity: 1 !important;
    border-radius: 100px;    
    margin: auto !important;
}





.layout-menu-nav {
    background: #E1CC61;
    display: flex;
    padding: 20px 0px 21px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.menu-nav-elementos-lista {
    display: inline-flex;
    flex-direction: row;
    gap: 50px;    
}

.menu-nav-elementos {    
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-style: hidden;
    border-radius: 20px;
    padding: 0px 15px 0px 15px;
    
}
.menu-nav-elementos a {
    color: #5C5327;
}

.menu-nav-elementos:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), #E1CC61;
}
.menu-nav-elementos a:hover {
    color: #5C5327;
}


.menu-nav-elementos:active {
    background: #5C5327;
}
.menu-nav-elementos a:active {
    color: #E1CC61;
}

.btns-prod {
    margin: 10px 15px 0px 15px;    
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-style: hidden;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    color: #5C5327;
    background-color: #E1CC61;
    display: flex;
    height: 37px;
    padding: 0px 20px 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btns-prod:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), #E1CC61;
    color: #5C5327;
}

.btns-prod:active {
    background: #5C5327;
    color: #E1CC61;
}


.div-btns-prod {
    display: flex;
    justify-content: center;
}

a:link {
    text-decoration: none;
}

.btns-pages {
    display: flex;
    padding: 0px 20px 0px 20px;
    margin: 10px 0px 10px 0px;
    height: 62px;
    justify-content: center;
    align-items: center;
    gap: 26px;
    flex-shrink: 0;
    border-radius: 23px;
    background: #E1CC61;
    color: #5C5327;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btns-pages:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%), #E1CC61;
    color: #5C5327;
}

.btns-pages:active {
    background: #5C5327;
    color: #E1CC61;
}

.section-btns{
    margin-top: 60px;
    display: grid;
    justify-content:center;
    flex-direction: column;

}

.svg-btn-voltar {
    background-color: #E1CC61;
    border-radius: 100px;
}

.btn-voltar{
    border-radius: 100px;
    border: none;
}

.svg-btn-voltar:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #E1CC61;
}

