<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App_Padaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App_Padaria.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar border-bottom box-shadow layout-menu-nav">
            <div>                
                <ul class="navbar-nav flex-grow-1 menu-nav-elementos-lista">
                    <li class="nav-item menu-nav-elementos">
                        <a class="nav-link" asp-area="" asp-controller="PaginaInicial" asp-action="Index">Página Inicial</a>
                    </li>
                    <li class="nav-item menu-nav-elementos">
                        <a class="nav-link" asp-area="" asp-controller="Producao" asp-action="Index">Produção</a>
                    </li>
                    <li class="nav-item menu-nav-elementos">
                        <a class="nav-link" asp-area="" asp-controller="Contabilidade" asp-action="Index">Contabilidade</a>
                    </li>
                </ul>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - App_Padaria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
